.sc-ion-back-button-md-h{
    display: block;
}
.text-danger
{
    color:red;
    font-size:13px;
}
.title
{
    padding:14px !important;
}
.textarea
{
  border: 1px solid #a7a5a5;

}
ion-select{
    max-width: 100%;
    text-overflow: ellipsis;
}


.select-text {
    -ms-flex: 1;
    flex: 1;
    min-width: 16px;
    font-size: inherit;
    white-space: normal;
}
// ion-label#ion-rb-0-lbl {
//     background-image: url(../../assets/images/temp1.jpg);
//     height: 125px;
//     width: 100px;
//     background-repeat: no-repeat;
//     background-size: contain;
// }
// ion-label#ion-rb-1-lbl {
//     background-image: url(../../assets/images/temp2.jpg);
//     height: 125px;
//     width: 100px;
//     background-repeat: no-repeat;
//     background-size: contain;
// }
// ion-label#ion-rb-2-lbl {
//     background-image: url(../../assets/images/temp3.jpg);
//     height: 125px;
//     width: 100px;
//     background-repeat: no-repeat;
//     background-size: contain;
// }
// ion-label#ion-rb-3-lbl {
//     background-image: url(../../assets/images/temp4.jpg);
//     height: 125px;
//     width: 100px;
//     background-repeat: no-repeat;
//     background-size: contain;
// }
// ion-label#ion-rb-4-lbl {
//     background-image: url(../../assets/images/temp5.jpg);
//     height: 125px;
//     width: 100px;
//     background-repeat: no-repeat;
//     background-size: contain;
// }
// ion-label#ion-rb-5-lbl {
//     background-image: url(../../assets/images/temp6.jpg);
//     height: 125px;
//     width: 100px;
//     background-repeat: no-repeat;
//     background-size: contain;
// }
// ion-label#ion-rb-6-lbl {
//     background-image: url(../../assets/images/temp7.jpg);
//     height: 125px;
//     width: 100px;
//     background-repeat: no-repeat;
//     background-size: contain;
// }
// ion-label#ion-rb-7-lbl {
//     background-image: url(../../assets/images/temp8.jpg);
//     height: 125px;
//     width: 100px;
//     background-repeat: no-repeat;
//     background-size: contain;
// }
// ion-label#ion-rb-8-lbl {
//     background-image: url(../../assets/images/temp9.jpg);
//     height: 125px;
//     width: 100px;
//     background-repeat: no-repeat;
//     background-size: contain;
// }

// ion-label#ion-rb-9-lbl {
//     background-image: url(../../assets/images/temp10.jpg) !important;
//     height: 125px !important;
//     width: 100px !important;
//     background-repeat: no-repeat !important;
//     background-size: contain !important;
// }

img.tempdesign {
    width: 175px;
    height: 100px;
    margin-bottom: 5%;
}